// .cart {
//     max-width: 700px;
//     margin: auto;
//     margin-top: 50px;
// }

.item-card {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    justify-content: space-between;
}
.check {
    display: flex;
}
.checkbox-wrap {
    margin-right: 8px;
    cursor: pointer;
}
.ant-typography {
    margin-left: 20px;
}
// .item-info {
//     flex: 1;
//     justify-content: space-between;
// }
.footer {
    display: flex;
    justify-content: space-between;
}
.deleteCommodity {
    cursor: pointer;
    padding: 5px;
}
.check-all {
    display: flex;
    align-items: center;
}

.check-all input {
    margin-right: 8px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchCommodity {
    display: flex;
    align-items: center;
}
.searchBtnContainer {
    margin-left: 10px;
}
.addCommodity {
    cursor: pointer;
    padding: 5px;
}
.searchText {
    margin-left: 5px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}
.searchInput {
    border: 1px solid #d9d9d9;
}
.ant-spin-nested-loading {
    overflow: auto;
    height: 405px;
}
