/**
* @file 
* @date 2023-07-21
* @author Cunming Liu
* @lastModify  2023-07-21
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/**
* @file 
* @date 2023-07-22
* @author Cunming Liu
* @lastModify  2023-07-22
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
.orderContainer {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
.title {
    text-align: left;
    padding: 5px;
}
