/**
* @file 
* @date 2023-07-21
* @author Cunming Liu
* @lastModify  2023-07-21
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
.entry {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 500px;
    margin-top: 20px;
}
